!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xctimeline

# Bundler
.bundle

# CocoaPods
**/Pods/
Pods/
Podfile.lock


# Carthage
Carthage/

